.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;
  padding: 0 5px;
  align-items: center;
  margin-bottom: 5px;
}
.renameButton, .saveButton{
  border-radius: 5px 0 0 5px;
}
.delButton,.cancelButton{
  border-radius:0 5px 5px 0;
}
.renameButton, .saveButton, .cancelButton{
  padding: 0 5px;
  color: #0064ac;
  background-color: #d7d7d7;
  &:hover{
    color: #ffffff;
    background-color: #0064ac;
  }
}
.delButton, .renameButton, .saveButton, .cancelButton{
  border: none;
  height: 25px;
  cursor: pointer;
}
.delButton{

  padding: 0;
  width: 25px;
  position:relative;
  &:after, &:before {
    top: 12px;
    left: 0;
    content:'';
    position:absolute;
    width:25px;
    height:2px;
    background-color: #ffffff;
    border-radius:1px;
  }
  &:after{
    transform:rotate(45deg);
  }
  &:before{
    transform:rotate(-45deg);
  }

  &:hover:after, &:hover:before{
    background-color: #700009;
  }
}
.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}
.text{
  white-space: normal;
  word-break: break-all;
}
.inputer{
  border: none;
  background-color: transparent;
  font-size: 18px;
  white-space: normal;
  word-break: break-all;
  resize: none;
  padding: 0;
  margin-right: 5px;
  &:focus{
    outline: none !important;
    border: 2px solid #39A1DA;
    border-radius: 5px;
  }
}